<section class="item-info">
  <div class="story-details story-type-{{ story_type }}">
    <i class="fa fa-{{ iconClass }}"></i>
    <span>#{{ id }}</span>
    <a href={{ url }}>{{ name }}</a>
  </div>
  <p>{{ message }}</p>
</section>

<section class="js-changes">
  {{{ formatted_changes }}}
</section>
